@model Category
<form method="post">
    @*Margin Top Utilities*@
    <div class="border p-3 mt-4">
        @*Padding Bottom Utilities*@
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            </hr>
        </div>

        @*Responsive bottom margin classes. * can be sm, md, lg or xl. # can be a number between 0 and 5*@
        <div class="mb-3">
            <label> Category name</label>
            <input asp-for="Name" class="form-control"> @*full width*@
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label> Display order</label>
            <input asp-for="DisplayOrder" class="form-control">
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>

            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary form-control">
                    Back to list
                </a>
            </div>
        </div>
    </div>
</form>